{% extends 'display.html' %}

{% block articles %}
	<li><a href="{% url 'surgical-articles' %}">Articles</a></li>
{% endblock %}

{% block journals %}
	<li><a href="{% url 'surgical-journals' %}">Journals</a></li>
{% endblock %}

{% block backup %}
	<li><a href="{% url 'home' %}">Back</a></li>
{% endblock %}

{% block title %}
	{{instance.title}} | {{block.super}}
{% endblock %}


{% block module_list %}
<style>
	#para{
		width: 90%;
		margin-left: 5%;
		text-align: left;
		display; flex;
	}
	
	#module-item{
		margin-left:10%;
		margin-top: 10px;
		margin-bottom: 10px;
		background: #333333;
	}
</style>
	{% for query in object_list %}
	<div id="module-item" style="border-style:solid; border-color:black; width:80%;">
		<h2 style="color:white;">
			Module {{query.module_number}}
		</h2>
		{% if query.thumbnail %}
			<div style="margin-top:10px;">
				<a href='{{query.units_url}}'>
					<img src='{{query.thumbnail.url}}' class="image-responsive"/>
				</a>
			</div>
		{% endif %}
		<section>
			<a href='{{query.units_url}}'>
				<h1 style="color:white; text-decoration:underline;">{{query.title}}</h1>
			</a>
			<div id="para">
				<p style="display:block;">{{query.description|linebreaks}}</p>
			</div>
			<p>Last updated: </p>{{query.updated}}
		</section>
	</div>
	{% endfor %}
{% endblock %}