<!DOCTYPE html> <--Version: 1.0-->
{% load staticfiles %}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Varela" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all"/>
<link rel="stylesheet" href="{% static 'css/fonts.css' %}" type="text/css" media="all"/>
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>

{% block script %}{% endblock %}
<!-- <script src="{% static 'js/jquery.waypoints.min.js' %}"></script> -->
<!-- <script src="{% static 'js/infinite.min.js' %}"></script> -->
 <script>
	
</script>

<style>
	#header, 
	#header-wrapper, 
	#logo, 
	#header-menu{
		background: #333333;
	}
	
	#bio-container{
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: none;
	}
	
	#bio-container::-webkit-scrollbar{
		display: none;
	}
</style>

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">Science By Oscar</a></h1>
		</div>
		<div id="header-menu">
			<ul>
				<li>
					<a href="{% url 'home' %}">Homepage</a>
				</li>
				<li><a href="#" accesskey="2" title="">Our Clients</a></li>
				<li><a href="{% url 'breaking-news' %}">News</a></li>
				<li><a href="#" accesskey="4" title="">Careers</a></li>
				<li><a href="#" accesskey="5" title="">Contact Us</a></li>
			</ul>
		</div>
	</div>
</div>
<div>
	<div id="sub-header">
		<ul>
			{% block quizes %}
			<li class="current_page_item"><a href="#" accesskey="1" title="">Quizes</a></li>
			{% endblock %}
			
			{% block articles %}
			<li><a href="#">Articles</a></li>
			{% endblock %}
			
			{% block journals %}
			<li><a href="#">Journals</a></li>
			{% endblock %}
			
			{% block blogs %}
			<li><a href="#" accesskey="4" title="">Blogs</a></li>
			{% endblock %}
			
			{% block backup %}
			<li><a href="#">Back</a></li>
			{% endblock %}
		</ul>
	</div>
	{% block title %}{% endblock %}
	<div id="bio-container">
		<div class="container" class="infinite-container">
			{% block module_list %}{% endblock %}
			<!--<div class="content"></div>-->
		</div>
		{% block feed %}{% endblock %}
	</div>
</div>
<div id="footer" class="container">

</div>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/jquery.rss.js' %}"></script>
 <script>
	$('#news-feed').rss("https://www.sciencedaily.com/rss/top/science.xml");
</script>

<script>
	$('#news-feed1').rss("https://medicalxpress.com/rss-feed/breaking/surgery-news/");
</script>

<script>
	$('#news-feed2').rss("https://www.sciencedaily.com/rss/computers_math/computer_programming.xml");
</script>
</body>
</html>
